In [38]:
import pandas as pd

# Assuming 'bowling.csv' is your CSV file containing the data
file_path = r'C:\Users\hp\Desktop\New folder\bowling.csv'

# Creating a DataFrame from the CSV file
my_df = pd.read_csv(r'C:\Users\hp\Desktop\New folder\bowling.csv')

# Displaying the DataFrame
print(my_df)

     MatchID  InningsNo Team           PlayerName  Overs  Maidens  Runs  \
0          1          1  KKR          Umesh Yadav    4.0        0    20
1          1          1  KKR          Shivam Mavi    4.0        0    35
2          1          1  KKR  Varun Chakaravarthy    4.0        0    23
3          1          1  KKR         Sunil Narine    4.0        0    15
4          1          1  KKR        Andre Russell    4.0        0    38
..       ...        ...  ...                  ...    ...      ...   ...
852       76          2   RR          Trent Boult    4.0        1    14
853       76          2   RR      Prasidh Krishna    4.0        0    40
854       76          2   RR     Yuzvendra Chahal    4.0        0    20
855       76          2   RR           Obed McCoy    3.1        0    26
856       76          2   RR  Ravichandran Ashwin    3.0        0    32

     Wickets  Wides  NoBalls  Economy  BowlingOrder  TotalLegalBallsBowled  \
0          2      2        1     5.00             1                     24
1          0      1        1     8.75             2                     24
2          1      1        0     5.75             3                     24
3          0      0        0     3.75             4                     24
4          1      0        0     9.50             5                     24
..       ...    ...      ...      ...           ...                    ...
852        1      2        0     3.50             1                     24
853        1      2        0    10.00             2                     24
854        1      0        0     5.00             3                     24
855        0      0        0     8.21             4                     19
856        0      0        0    10.67             5                     18

     DotBalls  Ones  Twos  Threes  Fours  Sixes  StrikeRate
0          15     7     0       0      1      1        12.0
1          12     7     1       0      3      2         0.0
2          11    10     1       0      1      1        24.0
3          10    13     1       0      0      0         0.0
4           7    10     1       0      5      1        24.0
..        ...   ...   ...     ...    ...    ...         ...
852        17     4     2       0      1      0        24.0
853        13     2     3       0      6      1        24.0
854        10    10     3       0      1      0        24.0
855         5    10     1       0      2      1         0.0
856         2    10     3       0      1      2         0.0

[857 rows x 20 columns]

NameError: name 'bowling' is not defined

In [41]:
import pandas as pd

# Load the dataset into a DataFrame
file_path = r'C:\Users\hp\Desktop\New folder\bowling.csv'
my_df = pd.read_csv(r'C:\Users\hp\Desktop\New folder\bowling.csv')

# Assuming 'Score' is the target column
target_column = 'Runs'

# Check the columns in your DataFrame to verify the column names
print(my_df.columns)

# Extract the target variable (Score) into a separate variable
target = my_df[target_column]

# Now 'target' contains the values of the 'Score' column, which can be used for further analysis or prediction tasks
print(target)
print(my_df.head())

Index(['MatchID', 'InningsNo', 'Team', 'PlayerName', 'Overs', 'Maidens',
       'Runs', 'Wickets', 'Wides', 'NoBalls', 'Economy', 'BowlingOrder',
       'TotalLegalBallsBowled', 'DotBalls', 'Ones', 'Twos', 'Threes', 'Fours',
       'Sixes', 'StrikeRate'],
      dtype='object')
0      20
1      35
2      23
3      15
4      38
       ..
852    14
853    40
854    20
855    26
856    32
Name: Runs, Length: 857, dtype: int64
   MatchID  InningsNo Team           PlayerName  Overs  Maidens  Runs  \
0        1          1  KKR          Umesh Yadav    4.0        0    20
1        1          1  KKR          Shivam Mavi    4.0        0    35
2        1          1  KKR  Varun Chakaravarthy    4.0        0    23
3        1          1  KKR         Sunil Narine    4.0        0    15
4        1          1  KKR        Andre Russell    4.0        0    38

   Wickets  Wides  NoBalls  Economy  BowlingOrder  TotalLegalBallsBowled  \
0        2      2        1     5.00             1                     24
1        0      1        1     8.75             2                     24
2        1      1        0     5.75             3                     24
3        0      0        0     3.75             4                     24
4        1      0        0     9.50             5                     24

   DotBalls  Ones  Twos  Threes  Fours  Sixes  StrikeRate
0        15     7     0       0      1      1        12.0
1        12     7     1       0      3      2         0.0
2        11    10     1       0      1      1        24.0
3        10    13     1       0      0      0         0.0
4         7    10     1       0      5      1        24.0